body {
  font-family: Nunito, sans-serif;
  margin: 0;
  overflow-x: hidden;
}

.sectionOne {
  background-image: url("vibz-assets/vibz-assets/black_pink_split_background.png");
  background-size: 102% 102%;
  background-repeat: no-repeat;
}

.title {
  color: transparent;  
}

.name{
  font-family: "Futura", sans-serif;
  margin-left: 60px;
  margin-right: 30px;
  margin-bottom: 10px;
  color: black;
}

.movie {
  display: flex;
  margin-top: 100px;
  margin-left: 30px;
  margin-right: 30px;
  justify-content: center;
}

.movie video {
  margin-right: 100px;
}
  



/*bar de navigation*/
#logo {
  width: 60px;
  margin-top: 10px;
  margin-left: 185px;
  margin-right: 25px;
}

#header {
  position: fixed;
  background-color: black;
  opacity: 0.61;
  width: 100%;
  z-index: 2;
}


#nav a {
  margin-right: 40px;
  margin-left: 0;
  margin: 0px 14px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
  vertical-align: middle;
}

/*hover de la nav*/
#header #nav #home:hover {
  color: #eb8994;
}

#header #nav #choregraphy:hover {
  color: #eb8994;
}

#header #nav #event:hover {
  color: #eb8994;
}

#header #nav #demo:hover {
  color: #eb8994;
}
